<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Wish</string>
	<key>CFBundleGetInfoString</key>
	<string>Gitk @@GIT_VERSION@@ © 2005-2010 Paul Mackerras</string>
	<key>CFBundleIconFile</key>
	<string>gitk.icns</string>
	<key>CFBundleIdentifier</key>
	<string>cz.or.repo.gitk</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Gitk</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>@@GIT_VERSION@@</string>
	<key>CFBundleSignature</key>
	<string>GITk</string>
	<key>CFBundleVersion</key>
	<string>@@GIT_VERSION@@</string>
</dict>
</plist>
