WIKI_DIR_NAME=wiki
WIKI_DIR_INST=/var/www
TMP=/tmp

MW_VERSION=mediawiki-1.19.0
DB_FILE=wikidb.sqlite
FILES_FOLDER=install-wiki
DB_INSTALL_SCRIPT=db_install.php

WIKI_ADMIN=WikiAdmin
WIKI_PASSW=AdminPass

SERVER_ADDR=localhost

LIGHTTPD=true

#This is only usefull if you're using Lighttpd
PORT=1234
WEB=WEB
WEB_TMP=$WEB/tmp
WEB_WWW=$WEB/www
PHP_DIR=/usr/bin
LIGHTTPD_DIR=/usr/sbin

