body, html {
  background: #FFFFFF;
  font-size: 12px;
  font-size: 12px;
  font-size: 12px;
  font-size: 12px;
  font-size: 12px;
  color: #FFFFFF;
}

body,
html {
  background: #FFFFFF;
  font-size: 12px;
  font-size: 12px;
  font-size: 12px;
  font-size: 12px;
  font-size: 12px;
  color: #FFFFFF;
}

body,
html
{
  background: #FFFFFF;
  font-size: 12px;
  font-size: 12px;
  font-size: 12px;
  font-size: 12px;
  font-size: 12px;
  color: #FFFFFF;
}

.class1, a:hover, li:first-child, html:lang(en), #id, .class2{
  background: #FFFFFF;
  font-size: 12px;
  font-size: 12px;
  font-size: 12px;
  font-size: 12px;
  font-size: 12px;
  color: #FFFFFF;
}
