body,
html {
  background: #FFFFFF;
  font-size: 12px;
  font-size: 12px;
  font-size: 12px;
  font-size: 12px;
  font-size: 12px;
  color: #FFFFFF;
}

.foo, .bar {
  background: #FFFFFF;
  font-size: 12px;
  font-size: 12px;
  font-size: 12px;
  font-size: 12px;
  font-size: 12px;
  color: #FFFFFF;
}

